{% extends 'base.html.twig' %}

{% block title %}Cześć{% endblock %}

{% block body %}

    <div class="container">
        <div class="row col-8 offset-3"> 
            <h1>Hello {{user.name|capitalize}}, my old friend.</h1>        
        </div>
        <div class="row col-8 offset-3"> 
            <p>You have logged in again.</p>
        </div>
        <div class="row col-8 offset-3"> 
            <a href="{{ url('logout') }}">wyloguj</>
        </div>
    </div>
{% endblock %}
