<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test in telemedica!{% endblock %}</title>
        {# bootstrap css so it takes no time to style #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <style>
            form ul li{
                list-style-type: none;
                color: red;
                font-weight: bold;
                white-space: nowrap;
                margin-left: 0rem;
                padding-left: 0px;
            }
        </style>
        {#        {% block stylesheets %}{% endblock %}#}
    {% block javascripts %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}       
<div id="cookie" class="row cookie overline fixed-bottom border-primary" style="border-top: 5px solid;">
    <div class="col-12 text-center align-middle">
        UWAGA, JEŻELI NIE USTAWIONO INACZEJ, CIASTKA NA STRONIE MOGĄ DOSTAĆ SIĘ NA URZĄDZENIE UŻYTKOWNIKA
        <a href="#" onClick="document.getElementById('cookie').remove();">
            SCHOWAJ
        </a> 
    </div>
    <div class="col"></div>
</div>
</body>
</html>
